.header{
display: flex;
justify-content: space-between;
background-color: black;
color: white;
}
.grid img{
border: 2px solid black ;
border-radius: 50px;
}
.grid{
    display: flex;
    justify-content: space-evenly;
    }
.oragimi{
border-radius: 20px;
background-color: white;
justify-content: space-between;
width: 310px;
font-family: fantasy;
}
